<div class="navigation">
  <div class="navigation__title">G112082</div>

  <div class="navigation__controls">
    <app-button
      [img]="'../../../../assets/img/svg/note-edit.svg'"
      [text]="'Edit'"
      [color]="'purple'"/>
    <hr class="navigation__divider">
    <div class="navigation__actions">
      <div class="navigation__arrow-group">
        <button class="navigation__arrow navigation__arrow--next">
          <img ngSrc="../../../../assets/img/svg/arrow-next.svg" height="30" width="30" alt="">
        </button>
        <button class="navigation__arrow navigation__arrow--prev">
          <img ngSrc="../../../../assets/img/svg/arrow-prev.svg" height="30" width="30" alt="">
        </button>
      </div>
      <button class="navigation__expand">
        <img ngSrc="../../../../assets/img/svg/maximize.svg" height="30" width="30" alt="">
      </button>
      <button class="navigation__close">
        <img ngSrc="../../../../assets/img/svg/cross.svg" height="30" width="30" alt="">
      </button>
    </div>
  </div>
</div>
