//color

$white: #ffffff;
$white-10: #f8f9fa;
$white-40: #D9DAE7;

$purple-100: #8184AF26;
$purple-95: #8184AF4D;
$purple-90: #525369;
$purple-80: #4a4e70;
$purple-60: #7d82ad;
$purple-50: #8184AF;

$porcelainBlueTransparent: #8184AF40;

$gray-dark-100: #52536980
