/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-weight: bold;
  font-family: Raleway, sans-serif;
  margin-top: 6px;
  margin-left: 30px;
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0;
  color: #525369;
  text-decoration: none;
  user-select: none;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-t-30 {
  margin-top: 30px;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');




